pre.shared {
    background-color: #eeffee !important;
    border-color: #b4eeb4;
}

pre.server {
    background-color: #ddeeff !important;
    border-color: #cae1ff;
}

pre.client {
    background-color: #ffffdd !important;
    border-color: #ffec8b;
}
